* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #7eb8df,#ffff);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30vh;
  min-height: 100vh;
}

p {
  font-family: sans-serif;
}

span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

 /* minhas divs sao essas*/


#logo {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  background-color: transparent
}

#main {
  background-color: #ffff;
  align-items: center;
  display: flex;
  flex-direction: column;
  
  border-width: 1.5px;
  border-style:solid;
  border-radius: 9px;
  border-color: #7eb8df;
  
  box-shadow: 0px 6px 12px #00000026;
}
#insert {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px 5px 0px 0px;
}

#result {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 10px 10px 0px;
  
  background-color: rgb(221, 221, 221);
  width: 100%;
  border-radius: 0px 0px 8px 8px;
}

/* esses sao meus elementos*/

#input {
  height: 35px;
  padding-left: 10px;
  margin: 0px 0px 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 1px; 
  
  border-right: none;
  
  
 

}



#temps {
  height: 35px;
  margin: 0px 10px 0px 0px;
  border-left: none;
  
  
}
#botao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 95%;
  margin: 10px 5px 10px 5px;
  background-color: #7eb8df;
  border: none;
  border-radius: 7px;
  cursor: po;
}

#title {
  margin-top: 10px;
  font-family: sans-serif;
  color: rgb(0, 44, 88);
}



#rF,
#rK, 
#undtemp2,
#undtemp1{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  font-family: sans-serif;
  font-size: 20px;
}

